@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,500|IBM+Plex+Sans:400,600,700&display=swap');

/*GENERALES*/

* {
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Mono', monospace;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    padding-top: 65px;
    font-size: 14px;
    line-height: 22px;
}

h1, h2, h3, h4, h5, h1 span, h2 span, h3 span, h4 span, h5 span {
    font-family: 'IBM Plex Sans', sans-serif;
}

h1, h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
}

h1 {
    margin-bottom: 35px;
}

h2 {
    margin-bottom: 10px;
}

h3 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
}

p {
    margin-bottom: 1em;
}

img {
    height: auto;
    display: block;
    max-width: 100%;
}

a {
    transition: all 0.2s;
}

/*HEADER*/

header {
    width: 100%;
    background: #FFF;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

header img {
    float: left;
    margin: 10px 0 10px 15px;
}

.trigger_wrapper {
    float: right;
}

nav input {
    display: none;
}

nav label {
    cursor: pointer;
    display: block;
    float: right;
    margin: 16px 15px 0 0;
}

.burger span {
    display: block;
    width: 18px;
    height: 2px;
    background-color: #000;
    transition: all 0.2s;
}

.burger_top,
.burger_bottom {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.burger_center {
    margin: 3px 0;
    opacity: 1;
}

nav input[type="checkbox"]:checked + label .burger_top {
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -ms-transform-origin: 10% 10%;
    -moz-transform-origin: 10% 10%;
    -webkit-transform-origin: 10% 10%;
    transform-origin: 10% 10%;
}

nav input[type="checkbox"]:checked + label .burger_center {
    opacity: 0;
}

nav input[type="checkbox"]:checked + label .burger_bottom {
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -ms-transform-origin: 10% 90%;
    -moz-transform-origin: 10% 90%;
    -webkit-transform-origin: 10% 90%;
    transform-origin: 10% 90%;
}

nav ul {
    clear: both;
    width: 100%;
    background: #0000EC;
    list-style: none;
    padding: 0;
    display: block;
    overflow: hidden;
    transition: height 0.5s;
    height: 0;
}

nav input[type="checkbox"]:checked ~ ul {
    height: 225px;
}

nav ul li a {
    font-size: 16px;
    color: #FFFFFF;
    line-height: 28px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 15px 9px 15px;
    display: block;
}

/*FOOTER*/

footer {
    width: 100%;
    text-align: center;
    padding: 35px 0;
}

footer .wrapper {
    display: flex;
    flex-wrap: wrap;
}

footer .wrapper > * {
    flex-basis: 100%;
}

.redes {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    font-size: 16px;
    display: flex;
    justify-content: space-evenly;
}

.redes a {
    color:#060A24;
}

.redes a:hover {
    color: #00F3BB;
}

/*SECCIONES*/

section {
    padding: 30px 0;
}

.intro {
    padding-bottom: 60px;
}

.entrevistas {
    z-index: 2;
    position: relative;
}

.episodios,
.novedades {
    color: #FFF;
    position: relative;
    padding-top: 45px;
    padding-bottom: 120px;
}

.novedades {
    padding-top: 110px;
    padding-bottom: 70px;
    margin-top: -50px;
    text-align: center;
    background: #0000ff; /* Old browsers */
    background: -moz-linear-gradient(225deg,  #0000ff 0%, #0000a3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(225deg,  #0000ff 0%,#0000a3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(225deg,  #0000ff 0%,#0000a3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0000ff', endColorstr='#0000a3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.episodios:after,
.topicos:after {
    background: #0000ff; /* Old browsers */
    background: -moz-linear-gradient(225deg,  #0000ff 0%, #0000a3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(225deg,  #0000ff 0%,#0000a3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(225deg,  #0000ff 0%,#0000a3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0000ff', endColorstr='#0000a3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -ms-transform: skewY(-5deg);
    -moz-transform: skewY(-5deg);
    -webkit-transform: skewY(-5deg);
    transform: skewY(-5deg);
    -ms-transform-origin: center;
    -moz-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    z-index: 1;
}

.topicos:after {
    background: #FFF;
    filter: none;
}

.episodios .wrapper,
.topicos .wrapper {
    z-index: 2;
    position: relative;
}

.nosotros {
    position: relative;
    z-index: 2;
    margin-top: -100px;
}

.entrevistas h2 {
    margin-bottom: 20px;
}

.topicos {
    position: relative;
    padding-bottom: 30px;
}

.topicos .wrapper + .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.topics_items {
    text-align: center;
    flex-basis: 100%;
    padding: 0;
    max-width: 280px;
    margin-bottom: 35px;
}

.topics_items img {
    margin: 25px auto 12px;
    width: 104px;
    height: auto;
}

/*ELEMENTOS*/

.button {
    display: block;
    text-align: center;
    color: #060A24;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
    height: 56px;
    line-height: 56px;
    transition: all 0.5s;
    margin-top: 40px;
    background: #00f0b8; /* Old browsers */
    background: -moz-linear-gradient(left,  #00f0b8 0%, #00f0b8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #00f0b8 0%,#00f0b8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #00f0b8 0%,#00f0b8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f0b8', endColorstr='#00f0b8',GradientType=1 ); /* IE6-9 */
}

.button:hover {
    color: #FFF;
    background: #0000fe; /* Old browsers */
    background: -moz-linear-gradient(left,  #0000fe 0%, #00f0b8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #0000fe 0%,#00f0b8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #0000fe 0%,#00f0b8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0000fe', endColorstr='#00f0b8',GradientType=1 ); /* IE6-9 */
}

.novedades .button {
    margin-top: 35px;
}

.episodes_wrapper {
    display: flex;
    flex-direction: column;
}

iframe {
    margin-top: 10px;
    width: 100%;
    border: 0;
    background: transparent;
}

.phone {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 360px;
}

.phone img {
    width: 100%;
    max-width: 100%;
}

/*VARIOS*/

.wrapper {
    width: 90%;
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
}

header .wrapper {
    width: 100%;
}

.tachado {
    text-decoration: line-through;
}

.azul {
    color: #0000EC;
}

/*RESPONSIVE*/

@media (min-width: 550px) {
    .intro h1, .intro p {
        max-width: 575px;
    }

    .button {
        width: auto;
        display: inline-block;
        padding-left: 60px;
        padding-right: 60px;
    }

    .photos {
        display: flex;
        flex-wrap: wrap;
    }

    .photos img {
        width: 50%;
    }
}

@media (min-width: 768px) {
    body {
        font-size: 16px;
        line-height: 24px;
        padding-top: 100px;
    }

    h1 {
        font-size: 62px;
        line-height: 84px;
        margin-bottom: 12px;
    }

    h2 {
        font-size: 48px;
        line-height: 62px;
    }

    .intro h1, .intro p {
        max-width: 768px;
    }

    header .wrapper {
        width: 94%;
    }

    header img {
        width: 36px;
        margin-top: 22px;
        margin-left: 0;
    }
    nav label {
        display: none;
    }

    nav ul {
        float: right;
        clear: none;
        width: auto;
        height: 100%;
        background: none;
        display: flex;
    }

    nav ul li a {
        padding: 26px 25px;
        color: #060A24;
        transition: color 0.5s;
    }

    nav ul li:last-child a {
        padding-right: 0;
    }

    nav ul a:hover {
        color: #00F3BB;
    }

    .episodios {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .episodes_wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    iframe {
        width: 47%;
        margin-bottom: 3%;
        margin-top: 20px;
    }

    .nosotros {
        margin-top: -75px;
    }

    .topicos {
        padding-bottom: 70px;
    }

    .topicos .wrapper + .wrapper {
        padding-top: 40px;
    }

    footer .wrapper {
        flex-wrap: nowrap;
        align-items: baseline;
        justify-content: space-between;
    }

    footer .wrapper > * {
        flex-basis: auto;
        margin-bottom: 0;
    }

    .redes li {
        margin-left: 35px;
    }

}

@media (min-width: 900px) {
    .topics_items {
        flex-basis: 25%;
    }

    .novedades {
        padding-top: 375px;
        padding-bottom: 100px;
        margin-top: -275px;
    }
}

@media (min-width: 1024px) {
    .intro {
        padding-top: 75px;
        padding-bottom: 100px;
    }

    .episodios {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .nosotros .wrapper {
        display: flex;
        align-items: center;
    }

    .phone,
    .text {
        width: 50%;
    }

    .phone {
        max-width: 450px;
    }

    .text {
        text-align: left;
    }

    .photos img {
        width: 33.333333%;
    }

    .topics_items {
        max-width: 220px;
    }
}

@media (min-width: 1080px) {
    h1, h2, .intro p, .intro .button {
        margin-left: 100px;
    }

    .nosotros h2 {
        margin-left: 0;
    }

    .intro {
        padding-bottom: 120px;
    }
}